/*--------------------------------------------------------------------- File Name: responsive.css ---------------------------------------------------------------------*/


/*------------------------------------------------------------------- 991px x 768px ---------------------------------------------------------------------*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-search {
        padding: 15px 0px;
    }
}


/*------------------------------------------------------------------- 767px x 599px ---------------------------------------------------------------------*/

@media only screen and (min-width: 599px) and (max-width: 767px) {
    .logo {
        text-align: center;
    }
    .cart-content-right {
        padding-bottom: 5px;
    }
    .mg {
        margin: 0px 0px;
    }
    .menu-area-main {
        height: 256px;
        overflow-y: auto;
    }
    .megamenu>.row [class*="col-"] {
        padding: 0px;
    }
    .menu-area-main .megamenu .men-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .women-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .el-cat {
        padding: 0px 15px;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        height: 19px;
    }
    .category-box.women-box {
        display: none;
    }
    .cart-box {
        display: inline-block;
        margin: 0px 30px;
    }
    .wish-box {
        float: none;
        margin: 0px 30px;
        display: inline-block;
    }
    .menu-add {
        display: none;
    }
    .category-box {
        display: none;
    }
    .mean-container .mean-nav ul li ol {
        padding: 0px;
    }
    .mean-container .mean-nav ul li a {
        padding: 10px 20px;
        width: 94.8%;
    }
    .mean-container .mean-nav ul li li a {
        width: 92%;
        padding: 1em 4%;
    }
    .mean-container .mean-nav ul li li li a {
        width: 100%;
    }
    .header-search {
        padding: 15px 0px;
    }
    #collapseFilter.d-md-block {
        padding: 30px 0px;
    }
}


/*------------------------------------------------------------------- 599px x 280px ---------------------------------------------------------------------*/

@media only screen and (min-width: 280px) and (max-width: 599px) {
    .cart-content-right {
        padding-bottom: 5px;
    }
    .megamenu>.row [class*="col-"] {
        padding: 0px;
    }
    .menu-area-main .megamenu .men-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .women-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .el-cat {
        padding: 0px 15px;
    }
    .mean-container .mean-nav ul li a {
        padding: 1em 4%;
        width: 92%;
    }
    .mean-container .mean-nav ul li li a {
        width: 90%;
        padding: 1em 5%;
    }
    .mean-container .sub-full.megamenu-categories ol li a {
        padding: 5px 0px;
        text-transform: capitalize;
        width: 100%;
    }
    .megamenu .sub-full.megamenu-categories .women-box .banner-up-text a {
        width: auto;
        border: none;
        float: none;
    }
    .menu-area-main {
        height: 45px;
        overflow-y: auto;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        top: 0;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .banner_taital { font-size: 46px; }
    .banner_text { font-size: 20px; }
    .about_text { width: 97%; font-size: 15px; padding-top: 20px; line-height: 26px; }
    .readmore_bt{ margin-top: 30px; }
    .about_taital_main { padding-top: 50px; }
    .footer_taital {  font-size: 38px; }



}

@media (min-width: 768px) and (max-width: 991px) {
.header_section {
    background-image: linear-gradient(90deg, #1d343c 100%, #38be89 0%);
}
.navbar-toggler {
    background-color: #ffffff;
}
.banner_taital { font-size: 44px; padding-top: 40px;}
.banner_text{ font-size: 20px; }
.banner_taital_main { padding-left: 15px; }
.about_taital { width: 90%; }
.about_text { width: 90%; }
.about_section{ padding-bottom: 90px; }
.contact_taital { font-size: 34px; }
.footer_taital{ font-size: 28px; }
.policy_section_2{ padding-top: 50px; }
.box_main{ margin-top: 30px; }

.signin_bt a {
    padding: 7px 20px;
    text-align: left;
}



}

@media (min-width: 576px) and (max-width: 767px) {
.header_section {
    background-image: linear-gradient(90deg, #1d343c 100%, #38be89 0%);
}
.navbar-toggler {
    background-color: #ffffff;
}
.banner_taital { font-size: 32px; padding-top: 0px;}
.banner_text{ font-size: 15px; }
.banner_taital_main {
    padding-left: 15px;
}
.policy_taital {  font-size: 34px; }
.policy_section_2 { padding-top: 50px; }
.box_main{ margin-top: 30px; }
.about_taital { width: 100%; font-size: 34px; }
.about_text { width: 90%; font-size: 16px; }
.about_taital_main { padding-left: 15px; padding-top: 60px; }
.readmore_bt { padding-bottom: 60px; }  
.contact_taital { font-size: 27px; padding-left: 0px; }
.client_section_2 { width: 100%; }
.client_main{ padding-left: 0px; }
.down_arrow { display: none; }
.client_name{ padding-top: 30px; }
.footer_taital { font-size: 21px; }
.mail_box { width: 100%; padding-top: 50px; }
.subscribe_bt_1 a { font-size: 14px; }
.enter_email_text { padding: 8px 20px 5px 20px;  height: 49px; }
.subscribe_bt { width: 210px; } 
.about_section .row{ flex-direction: column-reverse; }
.signin_bt a {
    padding: 7px 20px;
    text-align: left;
}

}

@media (max-width: 575px) {
.header_section {
    background-image: linear-gradient(90deg, #1d343c 100%, #38be89 0%);
}
.navbar-toggler {
    background-color: #ffffff;
}
.banner_taital { font-size: 46px; padding-top: 0px;}
.banner_text{ font-size: 20px; }
.banner_taital_main {
    padding-left: 15px;
}
.banner_img{ padding-top: 20px; }
.policy_taital {  font-size: 28px; }
.policy_section_2 { padding-top: 50px; }
.box_main{ margin-top: 30px; }
.about_taital { width: 100%; font-size: 30px; }
.about_text { width: 90%; font-size: 16px; }
.about_taital_main { padding-left: 15px; padding-top: 60px; }
.readmore_bt { padding-bottom: 60px; }  
.contact_taital { font-size: 26px; padding-left: 0px; }
.client_section_2 { width: 100%; }
.client_main{ padding-left: 0px; }
.down_arrow { display: none; }
.client_name{ padding-top: 30px; }
.footer_taital { font-size: 20px; }
.mail_box { width: 100%; padding-top: 50px; }
.subscribe_bt_1 a { font-size: 14px; }
.enter_email_text { padding: 8px 20px 5px 20px;  height: 49px; }
.subscribe_bt { width: 210px; } 
.about_section .row{ flex-direction: column-reverse; }
.signin_bt a {
    padding: 7px 20px;
    text-align: left;
}



}